<h1><center>MERGE DATA

In [38]:
import pandas as pd
import numpy as np

In [39]:
df = pd.read_csv("With_score (1).csv",encoding= 'unicode_escape')
df.head()

,Unnamed: 0,#AUTHID,STATUS,sEXT,sNEU,sAGR,sCON,sOPN,cEXT,cNEU,...,text_wo_stopfreqrare,text_stemmed,text_lemmatized,convert_emot,Remove_url_,text_wo_punct,final_status,Sentiment_score,Sentiment_analized,Depressed
0,0,b7b7764cfa1c523e4e93ab2a79a946c4,likes the sound of thunder.,2.65,3.0,3.15,3.25,4.4,n,y,...,likes sound thunder.,like sound thunder.,like sound thunder.,like sound thunder.,like sound thunder.,like sound thunder,like sound thunder,0.3612,Positive,NO
1,1,b7b7764cfa1c523e4e93ab2a79a946c4,is so sleepy it's not even funny that's she ca...,2.65,3.0,3.15,3.25,4.4,n,y,...,sleepy even funny that's sleep.,sleepi even funni that' sleep.,sleepy even funny that's sleep.,sleepy even funny that's sleep.,sleepy even funny that's sleep.,sleepy even funny thats sleep,sleepy even funny thats sleep,0.4404,Positive,NO
2,2,b7b7764cfa1c523e4e93ab2a79a946c4,is sore and wants the knot of muscles at the b...,2.65,3.0,3.15,3.25,4.4,n,y,...,sore knot muscles base neck stop hurting. hand...,"sore knot muscl base neck stop hurting. hand, ...","sore knot muscle base neck stop hurting. hand,...","sore knot muscle base neck stop hurting. hand,...","sore knot muscle base neck stop hurting. hand,...",sore knot muscle base neck stop hurting hand y...,sore knot muscle base neck stop hurting hand y...,0.6597,Positive,NO
3,3,b7b7764cfa1c523e4e93ab2a79a946c4,likes how the day sounds in this new song.,2.65,3.0,3.15,3.25,4.4,n,y,...,likes sounds song.,like sound song.,like sound song.,like sound song.,like sound song.,like sound song,like sound song,0.3612,Positive,NO
4,4,b7b7764cfa1c523e4e93ab2a79a946c4,is home. <3,2.65,3.0,3.15,3.25,4.4,n,y,...,home. <3,home. <3,home. <3,home. love,home. love,home love,home love,0.6369,Positive,NO

In [40]:
df.shape

(10012, 34)

In [41]:
m = df.nunique()
m

Unnamed: 0              10012
#AUTHID                   250
STATUS                   9878
sEXT                       77
sNEU                       73
sAGR                       63
sCON                       68
sOPN                       58
cEXT                        2
cNEU                        2
cAGR                        2
cCON                        2
cOPN                        2
DATE                     9728
NETWORKSIZE               216
BETWEENNESS               251
NBETWEENNESS              225
DENSITY                    17
BROKERAGE                 251
NBROKERAGE                  9
TRANSITIVITY               44
NAMES                     250
text_lower               9866
text_wo_stopfreq         9825
text_wo_stopfreqrare     9825
text_stemmed             9815
text_lemmatized          9825
convert_emot             9824
Remove_url_              9816
text_wo_punct            9716
final_status             9698
Sentiment_score           639
Sentiment_analized          2
Depressed                   2
dtype: int64

In [42]:
m[10]

2

In [43]:
#removing depress attribure

df2 = df.iloc[:,[21,1,3,4,5,6,7,8,9,10,11,12,14,15,16,17,18,19,20]]
df2

,NAMES,#AUTHID,sEXT,sNEU,sAGR,sCON,sOPN,cEXT,cNEU,cAGR,cCON,cOPN,NETWORKSIZE,BETWEENNESS,NBETWEENNESS,DENSITY,BROKERAGE,NBROKERAGE,TRANSITIVITY
0,Tammy Walker,b7b7764cfa1c523e4e93ab2a79a946c4,2.65,3.00,3.15,3.25,4.40,n,y,n,n,y,180.0,14861.60,93.29,0.03,15661.0,0.49,0.10
1,Tammy Walker,b7b7764cfa1c523e4e93ab2a79a946c4,2.65,3.00,3.15,3.25,4.40,n,y,n,n,y,180.0,14861.60,93.29,0.03,15661.0,0.49,0.10
2,Tammy Walker,b7b7764cfa1c523e4e93ab2a79a946c4,2.65,3.00,3.15,3.25,4.40,n,y,n,n,y,180.0,14861.60,93.29,0.03,15661.0,0.49,0.10
3,Tammy Walker,b7b7764cfa1c523e4e93ab2a79a946c4,2.65,3.00,3.15,3.25,4.40,n,y,n,n,y,180.0,14861.60,93.29,0.03,15661.0,0.49,0.10
4,Tammy Walker,b7b7764cfa1c523e4e93ab2a79a946c4,2.65,3.00,3.15,3.25,4.40,n,y,n,n,y,180.0,14861.60,93.29,0.03,15661.0,0.49,0.10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10007,William Vaughn,deb899e426c1a5c66c24eeb0d7df6257,2.15,2.15,4.10,2.90,4.60,n,n,y,n,y,36.0,185.71,31.21,0.40,377.0,0.32,0.63
10008,Rebecca Steele,ea28a927cb6663480ea33ca917c3c8ba,4.05,3.35,3.80,3.95,4.50,y,y,y,y,y,83.0,2935.76,88.40,0.08,3120.0,0.47,0.26
10009,Rebecca Steele,ea28a927cb6663480ea33ca917c3c8ba,4.05,3.35,3.80,3.95,4.50,y,y,y,y,y,83.0,2935.76,88.40,0.08,3120.0,0.47,0.26
10010,Kimberly Morrison,5532642937eb3497a43e15dbb23a9d2d,1.40,4.05,3.30,3.40,3.95,n,y,n,n,y,154.0,11424.50,98.25,0.02,11510.0,0.49,0.05
10011,Krishnamoorthy,a286b7286b1247d4a7851709e9f31e1e,4.25,3.00,3.25,3.50,4.00,y,y,n,y,y,539.0,138337.00,95.77,0.02,142460.0,0.49,0.13

In [44]:
df3 = df2.drop_duplicates()
df3

,NAMES,#AUTHID,sEXT,sNEU,sAGR,sCON,sOPN,cEXT,cNEU,cAGR,cCON,cOPN,NETWORKSIZE,BETWEENNESS,NBETWEENNESS,DENSITY,BROKERAGE,NBROKERAGE,TRANSITIVITY
0,Tammy Walker,b7b7764cfa1c523e4e93ab2a79a946c4,2.65,3.00,3.15,3.25,4.40,n,y,n,n,y,180.0,14861.60,93.29,0.03,15661.0,0.49,0.10
27,Gregory Frey,450c787001b004af69428e267c7a4ca1,2.30,3.50,4.50,2.85,4.50,n,y,y,n,y,297.0,41728.80,95.58,0.03,42826.0,0.49,0.17
104,Jennifer Murphy,318bf822d4f2bd3920367560218619c0,4.50,4.00,3.00,4.50,3.75,y,y,n,y,n,318.0,49024.80,97.88,0.02,49584.0,0.49,0.06
173,Jose Peters,ecbddbfe00e0f83cfdb802a7186061c7,4.30,2.15,3.60,3.30,4.10,y,n,y,n,y,739.0,267574.00,98.39,0.01,270029.0,0.50,0.07
238,Jason Hall,db39f7b2aad360b1033ec1f8fcd57f9c,4.65,3.20,3.05,3.65,4.75,y,y,n,y,y,102.0,4359.80,86.33,0.09,4668.0,0.46,0.36
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10005,Lindsay Taylor,a764ca41dca158d7a191505dcc8ce47f,3.70,2.50,4.20,4.10,3.60,y,n,y,y,n,451.0,98153.10,97.16,0.02,99733.0,0.49,0.12
10006,William Vaughn,deb899e426c1a5c66c24eeb0d7df6257,2.15,2.15,4.10,2.90,4.60,n,n,y,n,y,36.0,185.71,31.21,0.40,377.0,0.32,0.63
10008,Rebecca Steele,ea28a927cb6663480ea33ca917c3c8ba,4.05,3.35,3.80,3.95,4.50,y,y,y,y,y,83.0,2935.76,88.40,0.08,3120.0,0.47,0.26
10010,Kimberly Morrison,5532642937eb3497a43e15dbb23a9d2d,1.40,4.05,3.30,3.40,3.95,n,y,n,n,y,154.0,11424.50,98.25,0.02,11510.0,0.49,0.05
10011,Krishnamoorthy,a286b7286b1247d4a7851709e9f31e1e,4.25,3.00,3.25,3.50,4.00,y,y,n,y,y,539.0,138337.00,95.77,0.02,142460.0,0.49,0.13

In [45]:
data = pd.DataFrame(df3)

In [46]:
#data.to_excel("Dashboard2.xlsx")

In [47]:
df3.shape

(251, 19)

<h1>Merging the depression status

In [48]:
main = pd.read_excel("Dashboard2.xlsx")
dep = pd.read_excel("users.xlsx")

In [49]:
dep

     Unnamed: 0  User  depression_status
0             0     1              False
1             1     2              False
2             2     3              False
3             3     4               True
4             4     5               True
..          ...   ...                ...
245         245   246              False
246         246   247              False
247         247   248              False
248         248   249              False
249         249   250              False

[250 rows x 3 columns]

In [50]:
dep.nunique()[2]

2

In [51]:

dic = {False:'Not-Depressed',True:'Depressed'}
dep.depression_status = dep.depression_status.map(dic)

In [52]:
dep.head()

   Unnamed: 0  User depression_status
0           0     1     Not-Depressed
1           1     2     Not-Depressed
2           2     3     Not-Depressed
3           3     4         Depressed
4           4     5         Depressed

In [53]:
main.head()

,User,NAMES,#AUTHID,sEXT,sNEU,sAGR,sCON,sOPN,cEXT,cNEU,cAGR,cCON,cOPN,NETWORKSIZE,BETWEENNESS,NBETWEENNESS,DENSITY,BROKERAGE,NBROKERAGE,TRANSITIVITY
0,1,Tammy Walker,b7b7764cfa1c523e4e93ab2a79a946c4,2.65,3.00,3.15,3.25,4.40,n,y,n,n,y,180.0,14861.6,93.29,0.03,15661.0,0.49,0.10
1,2,Gregory Frey,450c787001b004af69428e267c7a4ca1,2.30,3.50,4.50,2.85,4.50,n,y,y,n,y,297.0,41728.8,95.58,0.03,42826.0,0.49,0.17
2,3,Jennifer Murphy,318bf822d4f2bd3920367560218619c0,4.50,4.00,3.00,4.50,3.75,y,y,n,y,n,318.0,49024.8,97.88,0.02,49584.0,0.49,0.06
3,4,Jose Peters,ecbddbfe00e0f83cfdb802a7186061c7,4.30,2.15,3.60,3.30,4.10,y,n,y,n,y,739.0,267574.0,98.39,0.01,270029.0,0.50,0.07
4,5,Jason Hall,db39f7b2aad360b1033ec1f8fcd57f9c,4.65,3.20,3.05,3.65,4.75,y,y,n,y,y,102.0,4359.8,86.33,0.09,4668.0,0.46,0.36

In [54]:
main = main.merge(dep)
main

,User,NAMES,#AUTHID,sEXT,sNEU,sAGR,sCON,sOPN,cEXT,cNEU,...,cOPN,NETWORKSIZE,BETWEENNESS,NBETWEENNESS,DENSITY,BROKERAGE,NBROKERAGE,TRANSITIVITY,Unnamed: 0,depression_status
0,1,Tammy Walker,b7b7764cfa1c523e4e93ab2a79a946c4,2.65,3.00,3.15,3.25,4.40,n,y,...,y,180.0,14861.60,93.29,0.03,15661.0,0.49,0.10,0,Not-Depressed
1,2,Gregory Frey,450c787001b004af69428e267c7a4ca1,2.30,3.50,4.50,2.85,4.50,n,y,...,y,297.0,41728.80,95.58,0.03,42826.0,0.49,0.17,1,Not-Depressed
2,3,Jennifer Murphy,318bf822d4f2bd3920367560218619c0,4.50,4.00,3.00,4.50,3.75,y,y,...,n,318.0,49024.80,97.88,0.02,49584.0,0.49,0.06,2,Not-Depressed
3,4,Jose Peters,ecbddbfe00e0f83cfdb802a7186061c7,4.30,2.15,3.60,3.30,4.10,y,n,...,y,739.0,267574.00,98.39,0.01,270029.0,0.50,0.07,3,Depressed
4,5,Jason Hall,db39f7b2aad360b1033ec1f8fcd57f9c,4.65,3.20,3.05,3.65,4.75,y,y,...,y,102.0,4359.80,86.33,0.09,4668.0,0.46,0.36,4,Depressed
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
245,246,Scott Guerrero,35efb99775d5ee7e83cf7912591984d5,2.45,4.00,2.85,2.35,4.10,n,y,...,y,65.0,1696.85,84.17,0.10,1876.0,0.47,0.28,245,Not-Depressed
246,247,Lindsay Taylor,a764ca41dca158d7a191505dcc8ce47f,3.70,2.50,4.20,4.10,3.60,y,n,...,n,451.0,98153.10,97.16,0.02,99733.0,0.49,0.12,246,Not-Depressed
247,248,William Vaughn,deb899e426c1a5c66c24eeb0d7df6257,2.15,2.15,4.10,2.90,4.60,n,n,...,y,36.0,185.71,31.21,0.40,377.0,0.32,0.63,247,Not-Depressed
248,249,Rebecca Steele,ea28a927cb6663480ea33ca917c3c8ba,4.05,3.35,3.80,3.95,4.50,y,y,...,y,83.0,2935.76,88.40,0.08,3120.0,0.47,0.26,248,Not-Depressed
249,250,Kimberly Morrison,5532642937eb3497a43e15dbb23a9d2d,1.40,4.05,3.30,3.40,3.95,n,y,...,y,154.0,11424.50,98.25,0.02,11510.0,0.49,0.05,249,Not-Depressed

In [55]:
final = pd.DataFrame(main)

In [56]:
final

,User,NAMES,#AUTHID,sEXT,sNEU,sAGR,sCON,sOPN,cEXT,cNEU,...,cOPN,NETWORKSIZE,BETWEENNESS,NBETWEENNESS,DENSITY,BROKERAGE,NBROKERAGE,TRANSITIVITY,Unnamed: 0,depression_status
0,1,Tammy Walker,b7b7764cfa1c523e4e93ab2a79a946c4,2.65,3.00,3.15,3.25,4.40,n,y,...,y,180.0,14861.60,93.29,0.03,15661.0,0.49,0.10,0,Not-Depressed
1,2,Gregory Frey,450c787001b004af69428e267c7a4ca1,2.30,3.50,4.50,2.85,4.50,n,y,...,y,297.0,41728.80,95.58,0.03,42826.0,0.49,0.17,1,Not-Depressed
2,3,Jennifer Murphy,318bf822d4f2bd3920367560218619c0,4.50,4.00,3.00,4.50,3.75,y,y,...,n,318.0,49024.80,97.88,0.02,49584.0,0.49,0.06,2,Not-Depressed
3,4,Jose Peters,ecbddbfe00e0f83cfdb802a7186061c7,4.30,2.15,3.60,3.30,4.10,y,n,...,y,739.0,267574.00,98.39,0.01,270029.0,0.50,0.07,3,Depressed
4,5,Jason Hall,db39f7b2aad360b1033ec1f8fcd57f9c,4.65,3.20,3.05,3.65,4.75,y,y,...,y,102.0,4359.80,86.33,0.09,4668.0,0.46,0.36,4,Depressed
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
245,246,Scott Guerrero,35efb99775d5ee7e83cf7912591984d5,2.45,4.00,2.85,2.35,4.10,n,y,...,y,65.0,1696.85,84.17,0.10,1876.0,0.47,0.28,245,Not-Depressed
246,247,Lindsay Taylor,a764ca41dca158d7a191505dcc8ce47f,3.70,2.50,4.20,4.10,3.60,y,n,...,n,451.0,98153.10,97.16,0.02,99733.0,0.49,0.12,246,Not-Depressed
247,248,William Vaughn,deb899e426c1a5c66c24eeb0d7df6257,2.15,2.15,4.10,2.90,4.60,n,n,...,y,36.0,185.71,31.21,0.40,377.0,0.32,0.63,247,Not-Depressed
248,249,Rebecca Steele,ea28a927cb6663480ea33ca917c3c8ba,4.05,3.35,3.80,3.95,4.50,y,y,...,y,83.0,2935.76,88.40,0.08,3120.0,0.47,0.26,248,Not-Depressed
249,250,Kimberly Morrison,5532642937eb3497a43e15dbb23a9d2d,1.40,4.05,3.30,3.40,3.95,n,y,...,y,154.0,11424.50,98.25,0.02,11510.0,0.49,0.05,249,Not-Depressed

In [57]:
#main.to_excel("radar_dashboard.xlsx")

In [58]:
final = main.iloc[:,[0,1,2,3,4,5,6,7,8,9,10,]]

In [59]:
dep.head()

   Unnamed: 0  User depression_status
0           0     1     Not-Depressed
1           1     2     Not-Depressed
2           2     3     Not-Depressed
3           3     4         Depressed
4           4     5         Depressed

<h1>INfLUENCE MERGER

In [60]:
inf = pd.read_excel("second_approach (1).xlsx")
inf.head()

   Unnamed: 0  USER        USER_NAME  INFLUENCE_SCORE
0           0     1     Tammy Walker         0.443243
1           1     2  Jennifer Murphy         0.081081
2           2     3      Jose Peters         0.086486
3           3     4       Jason Hall         0.029730
4           4     5      Maria Kelly         0.072973

In [61]:
main.head()

,User,NAMES,#AUTHID,sEXT,sNEU,sAGR,sCON,sOPN,cEXT,cNEU,...,cOPN,NETWORKSIZE,BETWEENNESS,NBETWEENNESS,DENSITY,BROKERAGE,NBROKERAGE,TRANSITIVITY,Unnamed: 0,depression_status
0,1,Tammy Walker,b7b7764cfa1c523e4e93ab2a79a946c4,2.65,3.00,3.15,3.25,4.40,n,y,...,y,180.0,14861.6,93.29,0.03,15661.0,0.49,0.10,0,Not-Depressed
1,2,Gregory Frey,450c787001b004af69428e267c7a4ca1,2.30,3.50,4.50,2.85,4.50,n,y,...,y,297.0,41728.8,95.58,0.03,42826.0,0.49,0.17,1,Not-Depressed
2,3,Jennifer Murphy,318bf822d4f2bd3920367560218619c0,4.50,4.00,3.00,4.50,3.75,y,y,...,n,318.0,49024.8,97.88,0.02,49584.0,0.49,0.06,2,Not-Depressed
3,4,Jose Peters,ecbddbfe00e0f83cfdb802a7186061c7,4.30,2.15,3.60,3.30,4.10,y,n,...,y,739.0,267574.0,98.39,0.01,270029.0,0.50,0.07,3,Depressed
4,5,Jason Hall,db39f7b2aad360b1033ec1f8fcd57f9c,4.65,3.20,3.05,3.65,4.75,y,y,...,y,102.0,4359.8,86.33,0.09,4668.0,0.46,0.36,4,Depressed

In [62]:
main = main.merge(inf)

In [63]:
main.head()

,User,NAMES,#AUTHID,sEXT,sNEU,sAGR,sCON,sOPN,cEXT,cNEU,...,NBETWEENNESS,DENSITY,BROKERAGE,NBROKERAGE,TRANSITIVITY,Unnamed: 0,depression_status,USER,USER_NAME,INFLUENCE_SCORE
0,1,Tammy Walker,b7b7764cfa1c523e4e93ab2a79a946c4,2.65,3.00,3.15,3.25,4.40,n,y,...,93.29,0.03,15661.0,0.49,0.10,0,Not-Depressed,1,Tammy Walker,0.443243
1,2,Gregory Frey,450c787001b004af69428e267c7a4ca1,2.30,3.50,4.50,2.85,4.50,n,y,...,95.58,0.03,42826.0,0.49,0.17,1,Not-Depressed,2,Jennifer Murphy,0.081081
2,3,Jennifer Murphy,318bf822d4f2bd3920367560218619c0,4.50,4.00,3.00,4.50,3.75,y,y,...,97.88,0.02,49584.0,0.49,0.06,2,Not-Depressed,3,Jose Peters,0.086486
3,4,Jose Peters,ecbddbfe00e0f83cfdb802a7186061c7,4.30,2.15,3.60,3.30,4.10,y,n,...,98.39,0.01,270029.0,0.50,0.07,3,Depressed,4,Jason Hall,0.029730
4,5,Jason Hall,db39f7b2aad360b1033ec1f8fcd57f9c,4.65,3.20,3.05,3.65,4.75,y,y,...,86.33,0.09,4668.0,0.46,0.36,4,Depressed,5,Maria Kelly,0.072973

In [64]:
main.shape

(250, 25)

<h1>INFLUENCE FROM FIRST APPROACH

In [66]:

main2 = pd.read_excel("first_approach.xlsx")
main2

     Unnamed: 0  USER          USER_NAME  INFLUENCE_SCORE_1
0             0     1       Tammy Walker            0.81816
1             1     2    Jennifer Murphy            0.35000
2             2     3        Jose Peters            0.16982
3             3     4         Jason Hall            0.17391
4             4     5        Maria Kelly            0.10977
..          ...   ...                ...                ...
245         245   246     Scott Guerrero            0.00284
246         246   247     Lindsay Taylor            0.00304
247         247   248     William Vaughn            0.00502
248         248   249     Rebecca Steele            0.00220
249         249   250  Kimberly Morrison            0.00440

[250 rows x 4 columns]

In [67]:
main.shape

(250, 25)

In [70]:
main = main.merge(main2)

main.shape

(250, 26)

In [71]:
main.to_excel("inf_combined.xlsx")